.adding-form-title {
    font-size: 25px;
    margin-bottom: 30px;
}

.authorization-row {
    margin-top: 50px;
}

.authorization-image-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.authorization-image {
    height: 100px;
    width: 100px;
}

.select-block {
    margin-bottom: 20px;
}

.cart-table-for-crashes {
    margin-top: 50px;
}

.message-in-form {
    text-align: center;
    color: #ff2424;
    font-weight: 700;
}

.cart-crasher-title {
    text-align: center;
    margin-top: 50px;
}